.HeroSection {
    padding: 0.5rem 0.25rem;

    background-image: linear-gradient(rgba(#8c8f8a, 0.45), rgba(#7c7c7b, 0.6)), url(../../images/hero.jpg);
    background-size: cover;
    height: calc(100vh - 3rem);

    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;

    .HeroSection__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        background-color: var(--primaryBg);
        padding: 1rem;
        margin: 1rem;
        border-radius: 0.5rem;
        border-top-left-radius: 0;
        position: relative;

        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            left: -2rem;
            top: 0.35rem;
            width: 0;
            height: 0;
            border: 2rem solid transparent;
            border-right-color: var(--primaryBg);
            border-left: 0;
            margin-top: -5px;
            margin-right: -5px;
        }

        .HeroSection__title h2 {
            color: var(--primary);
            text-shadow:
                1px 1px 5px var(--primary),
                1px 1px 5px #786ce2;
        }

        .Typewriter {
            color: var(--secondary);
            text-shadow:
                1px 1px 3px var(--secondary),
                1px 1px 4px #fc7474;
        }
    }
}

@media screen and (max-width: 600px) {
    .HeroSection {
        grid-template-columns: 1fr;
        text-align: center;

        .HeroSection__content {
            &::after {
                border: 1.5rem solid transparent;
                border-bottom-color: var(--primaryBg);
                border-top: 0;
                margin-top: -5px;
                margin-right: -5px;
                left: 50%;
                top: -1rem;
                transform: translateX(-50%);
            }
        }
    }
}
