.Globe3D {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 100%;
    // height: 50vh;

    .Globe3D__container {
        // position: absolute;
        // max-width: 100%;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
    }

    .Globe3D__actions {
        .Globe3D__action {
            padding: 0.5rem 1rem;
            // border: none;
        }
    }
}